@import 'tailwindcss';

@theme {
    /* Definição das cores personalizadas da Auftek */
    --color-auftek-blue: #1e90ff;
    --color-auftek-dark: #0e223b;
    --color-auftek-green: #a9deca;
    --color-auftek-slate: #1a2c42;

    /* Definição da fonte */
    --font-sans: 'Inter', sans-serif;
}

/* Seus estilos globais extras */
body {
    @apply bg-auftek-dark text-slate-200; /* Usando as cores novas já aqui */
}

.glass-panel {
    background: rgba(14, 34, 59, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(30, 144, 255, 0.2);
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
    animation-play-state: paused;
}
